* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    border: 4px solid black;
    background: #f9f9f9;
}


.box {
    width: 200px;
    height: 80px;
    padding: 15px;
    border: 5px solid blue;
    margin-bottom: 30px;
    background: lightblue;
    display: block;    
}


#box2 {
    border: 10px dashed red;
    padding: 30px;
}


.tag {
    padding: 5px;
    border: 2px solid green;
    background: lightgreen;
    display: inline; 
}


.overflow-box {
    width: 200px;
    height: 80px;
    border: 4px solid purple;
    padding: 10px;
    margin-top: 30px;
    overflow: auto;
}

.title {
    padding: 10px;
    border: 2px solid black;
    outline: 5px dotted orange;
    outline-offset: 10px;
}
