.container {
    display: flex;
    /* flex-direction: row;   */
    /* flex-direction: row-reverse; */
    /* flex-direction:column; */
    flex-direction: column-reverse;
}

.box {
    width: 60px;
    height: 60px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
