.container {
    display: flex;
    justify-content: center; 
    /* align-items: flex-start;   */
    /* align-items:center; */
    /* align-items:flex-end; */
    /* align-items:stretch; */
    align-items:baseline; 
    height: 200px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border: 2px solid rgb(180, 180, 180);
}

.box {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 99, 71); 
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}


.big {
    font-size: 40px;
    line-height: 60px;
}
