.container {
    display: flex;
    /* justify-content: flex-start;   */
    /* justify-content:center; */
    /* justify-content:flex-end; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    justify-content:space-evenly;
    background-color: rgb(230, 230, 230); 
    padding: 20px;
}

.box {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 99, 71); 
    color: rgb(255, 255, 255);          
    text-align: center;
    line-height: 60px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(200, 0, 0);   
}
