.container {
    display: flex;
    justify-content: center; 
    align-items: center;      
    height: 250px;
    background-color: rgb(210, 210, 210); 
    border: 2px solid rgb(160, 160, 160);
}

.box {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 99, 71); 
    color: rgb(255, 255, 255);          
    text-align: center;
    line-height: 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
