p{
    color:red;
    text-align: center;
    line-height: 30px;
}

h1,h3,h4{
    text-align: center;
}

h3{
    color: black;
}

*{
    font-family: Georgia;
}

a{
    text-decoration: none;
    color:rgb(0,255,0);
}

button{
    background-color: white;
    color:blueviolet;
}

textarea{
    color:#000
}

.u{
    text-decoration: underline;
}