body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 20px;
    }


.card-container {
    text-align: center; 
    margin-top: 30px;
}


.profile-card {
    display: inline-block;      
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(70, 70, 70);
    margin-bottom: 10px;
}


.profile-card h3 {
    color: rgb(30, 30, 30);
    margin-bottom: 5px;
}

.profile-card p {
    color: rgb(90, 90, 90);
    margin: 0;
    font-size: 14px;
}


.profile-card:hover {
    background-color: rgb(230, 230, 250);
    border-color: rgb(70, 70, 120);
}
