 /* Universal selector: */
*{
    font-family:'Courier New', Courier, monospace;
}

h1,h3{
    color: #b92b27;
}

#login{
    background-color:white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color:green;
    color: antiquewhite;
}

.post a {
    color: purple;
    background-color: yellow ;
}

nav ul li {
    color:#b92b27
}

nav ul li a {
    color:black;
}

a{
    text-decoration: none;
}

p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: chocolate;
    color:whitesmoke;
}

div>input{
    background-color: salmon;
}

input[type = "text"] {
    color: green;
}

input[type = "password"] {
    color: purple;
}

input[type]{
    background-color: aliceblue;
}

/* psuedo class */

button:hover{
    background-color: black;
    color:white;
}

h3:hover{
    text-decoration: line-through;
}

button:active{
    background-color: hotpink;
    color:#b92b27
}

input[type="radio"]:checked + label{
    font-weight:bold;
    color: red;
}

div:nth-of-type(2){
    background-color: yellow;
}

/* Pseudo elements */

h1::first-letter{
    color:black;
}

.v>p::selection{
    background-color: rgb(201, 201, 16);

}

/* For learning cascading - jo chiz baad mai aai wo finally lagu hogi ek single elemnt par */

h3{
    background-color:#b92b27;
}

h3{
    background-color: aqua;
    
}

/*
selector specifity: 
1.)importance order(id>class>elements)
2.)more selectors usage is therefore preffered
3.)And when specificity is same we see cascading
*/

/* inline specifity>specifity (inpreference) */

/* if you use !important so it becomes most preffered and cant be changed later */