body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 40px 0;
}


.product {
    width: 260px;
    height: 150px;
    margin: 40px auto;      
    padding: 20px;
    
    border: 2px solid rgb(51, 51, 51);
    border-radius: 10px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box; 
}


.product h3 {
    margin: 0 0 10px 0;
    color: rgb(34, 34, 34);
    font-size: 18px;
}

.product p {
    margin: 0;
    color: rgb(85, 85, 85);
    font-size: 16px;
}
