body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    padding: 30px;
}


p {
    background-color: rgb(173, 216, 230);
    color: rgb(0, 0, 139);
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    display: block; 
    margin-bottom: 10px;
}

span {
    background-color: rgb(255, 182, 193);
    color: rgb(139, 0, 0);
    border: 2px solid rgb(139, 0, 0);
    padding: 5px;
    display: inline; 
}


span:hover {
    display: block;
    background-color: rgb(255, 105, 180);
}
