header{
    background-color: rgb(0, 51, 102);
    color : rgb(255,255,255);
    padding : 10px 0 ;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(0, 51, 102);
    color: rgb(255, 255, 255);
    padding: 15px 0;
}


.nav-bar {
    text-align: center;
    margin-top: 10px;
}

.nav-bar a {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 102, 204);
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.nav-bar a:hover {
    background-color: rgb(0, 153, 255);
}


.product-section {
    text-align: center;
    margin: 40px 0;
}


.product-card {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(180, 180, 180);
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 220px;
    box-sizing: border-box;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
}

.product-card h3 {
    color: rgb(30, 30, 30);
    margin: 10px 0 5px 0;
}

.product-card p {
    color: rgb(80, 80, 80);
    margin: 5px 0 10px 0;
}


.product-card button {
    background-color: rgb(0, 102, 204);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: rgb(0, 153, 255);
}


footer {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
