body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    text-align: center;
    background-color: rgb(0,0,0);
    color: white;
    padding: 40px 20px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #ff4757;
    margin-bottom: 15px;
}

.name {
    font-size: 2.2em;
    margin: 10px 0 5px;
}

.tagline {
    font-size: 1.1em;
    color: #ccc;
}


.section {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 25px auto;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.section h2 {
    color: #ff4757;
    border-bottom: 2px solid #ff4757;
    display: inline-block;
    margin-bottom: 15px;
}

.section ul {
    list-style-type: square;
    padding-left: 20px;
}


.footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 30px;
}

.footer a {
    color: #ff6b81;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.love {
    margin: 10px 0;
    font-size: 1.1em;
}
