body {
    background-color: #ccc;
    display: flex;
    flex-direction: column;  /* stack heading and product vertically */
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* full height */
}


h1{
    color: black;
    margin-bottom: 30px;
}

.Product-Card {
    background-color: white;
    border: 3px solid red;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: darkred;
}