body {
    background-color: #ccc;
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}


h1{
    color: black;
    margin-bottom: 30px;
}

.Product-Card {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid red;
    border-radius: 8px;
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: darkred;
}
